/*
rem: Root EM. Based on the browser's font size (usually 16px).
If the user zooms, your layout scales.

vh/vw: Viewport Height/Width. 100vh means exactly 100% of the screen height.
*/


.txt_1 {
    font-size: 1rem;
}


.container_1 {
    background-color: bisque;

    box-sizing: border-box;
    height: 15vh;
    width: 95vw;

    display: flex;

    /* Horizontal by default */
    justify-content: space-around;

    /* Vertical by default */
    align-items: center;;
}

.card_1 {
    background-color: rgb(244, 146, 61);
    height: 90%;
    width: 31%;

    display: flex;

    border-radius: .6rem;

    justify-content: center;
}


.container_2 {
    background-color: rgb(163, 148, 128);

    box-sizing: border-box;
    height: 6rem;
    width: 22.2rem;

    display: flex;

    /* Horizontal by default */
    justify-content: space-around;

    /* Vertical by default */
    align-items: center;;
}



.txt_2 {
    color: white;
    /* Good for media, highly optimized */
    font-size: 4vw;
    /*
        Good for control, not as optimized, cool for texts
        font-size: clamp(1.5rem, 5vw, 3rem);
    */
    /* 
        Not as good
        font-size: calc(.5rem + 1vw);
    */
}



.container_3 {
    background-color: aqua;

    display: flex;
    height: 12vh;
    width: 95vw;

    justify-content: space-between;
    align-items: flex-end;

    gap: 2vw;
}

.container_4 {
    background-color: rgb(172, 236, 236);

    display: flex;
    height: 12vh;
    width: 95vw;

    justify-content: flex-start;
    align-items: center;

    gap: 2vw;
}

.container_5 {
    background-color: rgb(249, 216, 172);

    display: flex;
    height: 12vh;
    width: 95vw;

    justify-content: flex-end;
    align-items: flex-end;

    gap: 2vw;
}